* {
    font-family: "Montserrat", sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.bg-image {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    background-image: url("/images/login-bg.jpg");
    background-position: center;
    background-size: cover;
}

.loginError {
    background: red;
    font-size: 0.78rem;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 500;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 30px 40px 30px 40px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 90%;
    max-width: 300px;
}

.bg-text .row {
    width: 100%;
}

.login-register {
    margin-bottom: 1.5rem;
}

.login-register a {
    text-decoration: none;
    color: #acacac;
    margin-right: 10px;
    font-size: 0.8rem;
}

.login-register a.active {
    font-size: 1rem !important;
    padding-bottom: 2px;
    color: white !important;
    border-bottom: 1.5px solid #fe0000;
}

.input-group {
    position: relative;
    padding: 10px 0 0;
    margin-top: 5px;
    width: 100%;
}

.input-group label {
    display: block !important;
    justify-content: left;
    font-weight: 400;
    font-size: 0.8rem;
}

.input-group input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid white !important;
    outline: 0;
    font-size: 0.8rem;
    color: white !important;
    padding: 5px 0;
    background: transparent;
}

/* Hide default checkbox appearance */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}

/* Custom Checkbox */
.checkbox-block {
    display: flex;
    justify-content: space-between;
}
.checkbox-effect:not(:checked),
.checkbox-effect:checked {
    position: absolute;
    left: -9999px;
}
.checkbox label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.checkbox {
    margin-top: 15px;
}
/* checkbox effect*/
.checkbox-effect-1:not(:checked) + label:before,
.checkbox-effect-1:checked + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.5px solid #fe0000;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 5px;
}
.checkbox-effect-1:not(:checked) + label:after,
.checkbox-effect-1:checked + label:after {
    content: "\f00c";
    font-family: fontawesome;
    font-size: 11px;
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 3px;
    color: #fff;
    transform-origin: center center;
}
.checkbox-effect-1:not(:checked) + label:after {
    transform: scale(0);
}
.checkbox-effect-1:checked + label:before {
    background-color: #fe0000;
    border-color: #fe0000;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.checkbox-effect-1:checked + label:after {
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

.form button {
    margin-top: 1.5rem;
    width: 100%;
    background-color: #b80d0d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none !important;
    color: white;
    font-size: 1rem;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    margin-top: 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

/* Separator */
.line-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem;
}
.line-container .text {
    margin: 0 8px 0 8px;
    font-size: 0.8rem;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #acacac;
    margin-top: 8px;
}

.google-btn {
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none !important;
    color: grey;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn a {
    color: grey;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.google-btn img {
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    width: 15px;
}

/* Adjustments for larger screens */
@media screen and (min-width: 1024px) {
    .bg-image {
        position: fixed;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        background-image: url("/images/login-bg.jpg");
        background-position: center;
        background-size: cover;
    }

    .bg-text {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 50px 60px 60px 60px;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        width: 90%;
        max-width: 400px;
    }

    .login-register {
        margin-bottom: 1.5rem;
    }

    .login-register a {
        text-decoration: none;
        color: #acacac;
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .login-register a.active {
        font-size: 1.4rem !important;
        padding-bottom: 2px;
        color: white !important;
        border-bottom: 1.5px solid #fe0000;
    }

    .loginError {
        background: red;
        font-size: 1rem;
        color: white;
        padding: 8px;
        border-radius: 3px;
        text-align: center;
    }

    .input-group {
        position: relative;
        padding: 10px 0 0;
        margin-top: 5px;
        width: 100%;
    }

    .input-group label {
        display: block !important;
        justify-content: left;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .input-group input {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 1px solid white !important;
        outline: 0;
        font-size: 1.2rem;
        color: white !important;
        padding: 5px 0;
        background: transparent;
    }

    .form button {
        margin-top: 1.5rem;
        width: 100%;
        background-color: #b80d0d;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none !important;
        color: white;
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .checkbox label {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
    }

    .forgot-password {
        margin-top: 1rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
    }

    /* Separator */
    .line-container {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 1rem;
    }
    .line-container .text {
        margin: 0 10px 0 10px;
        font-size: 1.2rem;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: #acacac;
        margin-top: 13px;
    }

    .google-btn {
        width: 100%;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none !important;
        margin-top: 1rem;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .google-btn a {
        color: grey;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .google-btn img {
        float: left;
        margin-left: 10px;
        width: 20px;
    }
}
